/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
header {
  background: black;
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  height: 3rem;
  z-index: 3000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center; }
  header a {
    font-size: 1.3em;
    font-family: "Muli", sans-serif;
    color: white; }

nav img {
  height: 1.5em; }

.container-header {
  width: 70%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.overlay {
  width: 0;
  height: 100vh;
  background: salmon;
  position: fixed;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .overlay.active {
    width: 100%; }

#title {
  font-size: 1.5em; }

#header-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-right: 6rem;
  width: 40%; }

.cv-figure {
  margin: 0 1em 1em 0;
  height: auto;
  width: 30em;
  padding: 1em;
  background: black; }
  .cv-figure h3, .cv-figure p, .cv-figure a {
    color: white;
    margin-top: 0.3em; }
  .cv-figure p {
    margin-top: 0; }
  .cv-figure a {
    margin-top: 2rem;
    font-size: 3em;
    font-weight: 400;
    font-style: italic; }

.cv-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }
  .cv-container h3 {
    margin: 0 0 1em 0;
    width: 100%;
    font-size: 2em;
    background: black;
    color: red; }
  .cv-container p {
    font-size: 1.2rem; }

#cv {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 1100px) {
    #cv {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  width: 100%;
  padding: 0;
  background: #83a4d4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #83a4d4, #b6fbff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #83a4d4, #b6fbff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: repeat-y;
  z-index: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

h1 {
  margin: 0; }

a, h1, h2, h3, p, .art-h1 {
  color: black;
  font-family: "Muli", sans-serif; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 2.5rem;
  font-style: italic; }

p {
  font-size: 1.5rem; }

.wrapper {
  margin-top: 3em;
  height: 10vh;
  width: 100%; }

.half-site {
  height: 160vw;
  width: 160vw;
  border-left: 1rem solid black;
  z-index: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .half-site h1 {
    cursor: pointer;
    width: auto;
    color: white;
    font-size: 3em;
    left: 2px;
    margin: 0 0 0 2rem; }
  .half-site.active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    position: absolute;
    top: 3rem;
    height: 2800px;
    z-index: 2000;
    margin-bottom: 60em;
    width: 100%; }
  @media (max-width: 464px) {
    .half-site h1 {
      font-size: 2em; } }

.dev-section {
  background: #FFFF82;
  /* fallback for old browsers */
  -webkit-transform: rotate(45deg) translate(5%, 30%);
  -moz-transform: rotate(45deg) translate(5%, 30%);
  -ms-transform: rotate(45deg) translate(5%, 30%);
  -o-transform: rotate(45deg) translate(5%, 30%);
  transform: rotate(45deg) translate(5%, 30%); }

.art-section {
  background: #e5c3ff;
  -webkit-transform: rotate(45deg) translate(-60%, -33%);
  -moz-transform: rotate(45deg) translate(-60%, -33%);
  -ms-transform: rotate(45deg) translate(-60%, -33%);
  -o-transform: rotate(45deg) translate(-60%, -33%);
  transform: rotate(45deg) translate(-60%, -33%); }

.cv-section {
  background: red;
  -webkit-transform: rotate(45deg) translate(-125%, -96%);
  -moz-transform: rotate(45deg) translate(-125%, -96%);
  -ms-transform: rotate(45deg) translate(-125%, -96%);
  -o-transform: rotate(45deg) translate(-125%, -96%);
  transform: rotate(45deg) translate(-125%, -96%); }

.triangle-span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: black;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: 5rem; }
  .triangle-span.active {
    background: white; }
    .triangle-span.active h1 {
      color: black; }

.triangle-container {
  display: none;
  overflow-x: hidden; }
  .triangle-container.active {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    @media (max-width: 854px) {
      .triangle-container.active {
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: flex-end; } }

.triangle-content {
  margin: 0 6rem 0 6rem;
  width: 70%;
  height: 100vh; }
  @media (max-width: 1300px) {
    .triangle-content {
      width: 90%; } }
  @media (max-width: 375px) {
    .triangle-content {
      width: 100%; } }

.icons {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 4rem;
  margin-top: 4rem; }
  .icons img {
    height: 4rem;
    margin-right: 1rem; }

.projekt {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  height: 500em;
  width: 100%; }
  .projekt h2 {
    font-style: italic;
    font-size: 5rem; }

.projekt-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (max-width: 854px) {
    .projekt-container {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.projekt-figure {
  margin: 0 2em 14em 0;
  height: 20em;
  width: 25em;
  padding: 1em;
  background: black; }
  .projekt-figure h3, .projekt-figure p, .projekt-figure a {
    color: #FFFF82; }
  .projekt-figure a {
    margin-top: 2rem;
    font-size: 3em;
    font-weight: 400;
    font-style: italic; }
    @media (max-width: 1100px) {
      .projekt-figure a {
        font-size: 2.2em; } }
  .projekt-figure img {
    -webkit-transform: translate(10%, 0%);
    -moz-transform: translate(10%, 0%);
    -ms-transform: translate(10%, 0%);
    -o-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
    height: 100%; }
  @media (max-width: 1100px) {
    .projekt-figure {
      height: 15em;
      width: 20em; } }

#gees {
  position: fixed;
  top: 6em;
  left: 4em;
  height: 15em; }

/*# sourceMappingURL=main.css.map */
