.projekt-figure.art-figure {
  background: black;
  margin:0 3em 10em 0;

  & a,p,h3 {
    color:white;
  }

  &.active{

  }
  & img {
    @include transition(all 0.4s ease);
    height: 80%;
    position: absolute;

    border:0.5em solid black;
    &:hover{

    }
    &.active{
        @include transition(all 0.4s ease);
      height: 80%;
      margin:0;
    }

  }
  &.standing {
  //  width: 9%;

    //margin-bottom: 15em;
    & img {
      height:100%;
      &:hover{
        height: 100%;
      }

     }
  }
}
/*
.overlay-img{
  width:95%;
  height: auto;
  background:yellow;
}
*/
