.cv-figure {
  margin: 0 1em 1em 0;
  height: auto;
  width: 30em;
  padding:1em;
  background:black;
  word-wrap: break-word;
  letter-spacing: 1em;


  & h3,p,a {
    color:white;
    margin-top: 0.3em;

  }
  & p {
    margin: 0 4em 1em 0;
  }
  & a {
    margin-top: 2rem;
    font-size:3em;
    font-weight: 400;
    font-style: italic;
  }
  @include breakpoint(small){
    padding:1em 1em 0 0;
    margin-right: 1em;
    width: 95%;
  };

  @include breakpoint(large){
    width: 95%;
    //padding:1em 1em 1em 1em;
    margin:0 1em 1em 0;
  };

}

.cv-h2{

}

.cv-container {
  padding:0;
  margin:0;

  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(flex-start);
  & h3 {
    margin: 0 0 1em 0;
    width: 100%;
    font-size:2em;
    background: black;
    color:red;
    width: 90%;
    @include breakpoint(small){
      font-size: 1.5em;
    };
  }
  & p {
    width: 90%;
    font-size:1.2rem;
    @include breakpoint(small){
      font-size: 1.1em;
    };
  }

}

#cv {
  @include flex-direction(row);
  @include breakpoint(large){
    @include flex-direction(column);
  };
}

#portrait {
  background:black;
  @include breakpoint(large){
   width: 50%;
   //border:0 1em 0 0 solid black;
  };
  @include breakpoint(small){
    width: 100vw;
    padding:1em 1em 0 0;
    margin:0;
  };
}

.cv-cirkle {
  height: 6em;
  width: 6em;
  margin-left: 35%;
  border-radius: 100%;
  background: black;
}
