header{
  background: black;
  position: fixed;
  top:0;
  color: white;
  width: 100vw;
  height: 2rem;
  z-index: 3000;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-content(center);
  & a {
    font-size: 1.3em;
    font-family:$art-font;
    color:white;
  }
  @include breakpoint(medium){
  height: 2.2rem;
  };
}
nav{
  & img {
    height: 1.5em;
    @include breakpoint(small){

    };
  }
}

.container-header {
  width: 98%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  @include breakpoint(medium){
    width: 98%;
  };

}

.overlay {
  width:0;
  height:100vh;
  background: salmon;
  position:fixed;


  @include transition(0.5s);
  &.active{
    width:100%;
  }
}
//Type
#title {
  font-size: 1.3em;
  margin-left: 2rem;
  @include breakpoint(medium){
    margin-left: 1rem;
    font-size: 1.2em;
  };
}

#header-nav {
  @include flexbox();

  @include justify-content(flex-end);
  @include align-items(center);
  margin-right:6rem;

  width: 40%;
  @include breakpoint(medium){
  display: none;
  };
}

#burger {

}
.footer {
  position: absolute;
  bottom:1em;
  right: 5em;
}
