@import 'varmix';
@import 'header';
@import 'nav';
@import 'cv';
@import "art";
@import "animations";

html,body {
  overflow-x: hidden;

}
body{
  height: 1900px;
  margin:0;
  width: 100%;
  padding:0;
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat:  repeat-y;
  z-index: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

  @include breakpoint(small){
    height: 850px;
  };
}
//Typogrphy
a {
  text-decoration: none;
  cursor: pointer;
  @include transition(all 0.7s ease);
  &:hover {
    color:$yellow;
  }
}

h1 {
  margin:0;
}
a,h1,h2,h3,p {
  letter-spacing: 0.1em;
}

a,h1,,h2,h3,p,.art-h1{
  color:black;
  font-family: $art-font;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 2.5rem;
  font-style: italic;
}
p {
  font-size: 1.5rem;
  word-wrap: break-word;
  @include breakpoint(small){
    font-size: 1.2rem;

  };

}

.wrapper {
  margin-top: 3em;
  height: 100%;
  width: 100%;
  overflow:hidden;

}

//Projekt////////////////////////////
.half-site {
  height: 160vw;
  width: 160vw;
  border-left:1rem solid black;
  z-index: 1000;
  position:relative;

  @include transition(all 1s ease);
  & h1{
    cursor: pointer;
    width: auto;
    color:white;
    font-size: 2em;
    font-weight: 800;
    left:2px;
    margin:0 0 0 1rem;
    @include transition(all 0.5s ease);
    &:hover {
      color:grey;
    }
    @include breakpoint(small){
      margin:0;
      font-size: 1.6em;
    };

  }
  &.active {
    @include transition(all 0.5s ease);
    @include transform(translate(0,0));
    position:fixed;
    top:2rem;
    height: auto;
    z-index: 5000;
    width: 100vw;
    & h1 {
      margin:1rem;
      @include breakpoint(medium){
        margin: 0.2rem;
      };
    }
  }

  &.hidden {
    display: none;
  }
}

.dev-section {
  background: $yellow; /* fallback for old browsers */
  @include transform(rotate(45deg) translate(5%,30%));
  //@include transform(rotate(45deg) translate(24%, 22%));
  @include breakpoint(medium){
  @include transform(rotate(45deg) translate(6%,38%));
  };
}

.art-section {
  z-index: 1050;
  background: $purple;
  @include transform(rotate(45deg) translate(-60%, -33%));
  //@include transform(rotate(45deg) translate(-134%, -51%));
  @include breakpoint(medium){
  @include transform(rotate(45deg) translate(-50%,-18%));
  };

}
.cv-section {
  z-index: 1056;
  background: red;
  @include transform(rotate(45deg) translate(-125%, -96%));
  //@include transform(rotate(45deg) translate(-264%, -114%));
  @include breakpoint(medium){
  @include transform(rotate(45deg) translate(-106%,-73%));
  };
}

.triangle-span {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  background:black;
  @include transition(all 1s ease);

  height: 3rem;
  @include breakpoint(small){
  height: 3rem;
  };
  &.active{
    background: white;
    height: 2rem;
    & h1 {
    color:black;
    font-size: 1.3em;
    @include breakpoint(medium){
      font-size: 1.3em;
    };
    }
  }
}

.triangle-container {

  display:none;
  overflow-x: hidden;
  &.active{
    width: 100%;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(center);
    @include breakpoint(medium){
      @include justify-content(flex-end);
    };
  }
}

.triangle-content {
  opacity: 0;
  animation-delay:0.6s;
  @include animation(fade, 1.8s, forwards, 1);
  margin:0 6rem 0 6rem;
  width: 70%;
  height: 100vh;


  @include breakpoint(xxlarge){
    width:90%;
  };
  @include breakpoint(small){
    width: 100%;
    & p, img {
      margin-left: 0.3em;
    }


  };
}

.icons {
  width: 100%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);
  height: 4rem;
  margin-top: 4rem;
  & img {
    height: 4rem;
    margin-right: 1rem;
  }
}
.projekt {

  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(space-between);
  height: auto;
  width: 100%;

  & h2 {
    font-style: italic;
    font-size: 5rem;
    margin: 0.3em 0 0.3em 0;

    @include breakpoint(medium){
        font-size: 3.5rem;
        margin: 0.2em 0 0.5em 0;
        padding:0;
    };
    @include breakpoint(small){
      font-size: 2.5em;
    };

  }

}
.projekt-container {
  padding:0;
  margin:0;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-grow);
  @include align-items(center);
  flex-wrap: wrap;
  @include breakpoint(medium){
    @include justify-content(flex-start);
  };
  @include breakpoint(medium){
    width: 100%;
  };

}
.projekt-figure {
  position:relative;
  margin: 0 2em 14em 0;
  height: 15em;
  width: 20em;
  padding:1em;
  z-index: 1;
  background: black;
  & h3,p,a {color:$yellow;}
  & a {
    margin-top: 2rem;
    font-size:2.2em;
    font-weight: 400;
    font-style: italic;
    @include breakpoint(large){
      font-size: 2.2em;
    };
  }
  & img {
    height: 100%;
    @include transition(all 0.3s ease);
    cursor: pointer;
    z-index:100;

    &.active {
      position:absolute;
      width: 160%;
      z-index: 1000;
      margin:-5em -4em;

      @include transition(all 0.3s ease);
      //@include transform(translate(-10%,0));
      @include breakpoint(small){
        width: 100vw;
        height: auto;
        margin:0;

        //@include transform(translate(-2%,0));
      };
    }

    @include breakpoint(small){
      //height: 83%;
      //include transform(translate(-10,-10%));
    };
  }

  @include breakpoint(large){
    height: 15em;
    width: 20em;
  };
  @include breakpoint(medium){
    height: 15em;
    width: 100%;
  };
  @include breakpoint(small){
    width:90%;
    padding:0;
    margin-bottom: 10em;
    & a {
      font-size: 2em;
      margin:0.2em 0 0 0.2em;
    }
    & p {
      font-size: 1.22em;
    }
  };
}

img.icon {
  margin: 0;
  height: 4em;
  width: 4em;
  z-index:100;
  border-radius: 100%;
  @include transition(all 0.4s ease);
  &:hover {
    @include transition(all 0.4s ease);
    background:white;

    height: 9em;
    width: 9em;
    border:1em solid white;
  }
  @include breakpoint(small) {
    height: 4em;
    width: 4em;

  };

}
.figure-img.icon{
  margin:1%;
}

.icon-box {

  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  height: 70%;
  width: 100%;
  @include transform(translate(0,0));
  @include breakpoint(small){
    @include transform(translate(0,0));
    width: 90%;
  };
  & img {
    //height: 5rem;
    &.active{
      //height: 20rem;

    }
  }

}

.back-button {
  height: 2em;
  position:absolute;
  right: 5%;
  top:2%;
}

.projekt-span {
  width: 70%;
  @include breakpoint(small){
    width: 90%;
  };
}
